body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #f0f0f0;
}

.logo {
    font-size: 2em;
    font-family: 'DM Serif Display';
    color: rgb(108, 181, 226);
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-left {
    flex: 1;
    text-align: left;
    margin-left: 10px;
}

.header-right {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.header-center {
    flex: 1;
    text-align: center;
}

.header-left p {
    font-size: 10px;
    color: #555;
}

.header-center h1 {
    font-size: 24px;
    margin: 10px 0;
}

.header-right img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.1s;
    text-align: center;
}

button:hover {
    background-color: #2370a3;
}

/*slika profila i iskočni prozor*/
.image-container {
    position: relative;
    display: inline-block;
}

.image-container:hover .hover-content {
    display: block;
}

.hover-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -100%;
    transform: translateX(-50%);
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.box {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.additional-text {
    margin-top: 10px;
    font-size: smaller;
}

.additional-text img {
    width: 30px;
    height: 30px;
}

#ispit {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.pregled_ispita {
    position: relative;
}

#mjesec {
    padding: 10px;
    font-size: 16px;
}
/* stilovi za stiliziranje izgleda dropdowna */
#mjesec:focus {
    outline: none;
}

#mjesec option {
    padding: 10px;
}

.exam-container {
    text-align: center;
}

.controls button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

/* prikaz ispita */
.exams {
    margin-top: 20px;
}
.exam-container {
    text-align: center;
}

.controls {
    margin-bottom: 20px;
}

.controls label, .controls select, .controls button {
    margin: 5px;
}

.controls select, .controls button {
    padding: 10px;
    cursor: pointer;
}

.exams {
    margin-top: 20px;
}

.exams ul {
    list-style-type: none;
    padding: 0;
}

.exams li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
}

.exams li:first-child {
    background-color: #e0e0e0;
    font-weight: bold;
}