body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #f0f0f0;
}

.logo {
    font-size: 2em;
    font-family: 'DM Serif Display';
    color: rgb(108, 181, 226);
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-left {
    flex: 1;
    text-align: left;
    margin-left: 10px;
}

.header-right {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.header-center {
    flex: 1;
    text-align: center;
}

.header-left p {
    font-size: 10px;
    color: #555;
}

.header-center h1 {
    font-size: 24px;
    margin: 10px 0;
}

.header-right img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.1s;
    text-align: center;
}

button:hover {
    background-color: #2370a3;
}

/*slika profila i iskočni prozor*/
.image-container {
    position: relative;
    display: inline-block;
}

.image-container:hover .hover-content {
    display: block;
}

.hover-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -100%;
    transform: translateX(-50%);
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.box {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.additional-text {
    margin-top: 10px;
    font-size: smaller;
}

.additional-text img {
    width: 30px;
    height: 30px;
}

#izostanci {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}



  
#izostanci_ {
    margin: 20px;
  }
  
.mjesec {
    text-align: center;
    margin-bottom: 20px;
    
}
  
  
.izostanci-table {
    width: 100%;
    border-collapse: collapse;
}
  
.izostanci-table th,
.izostanci-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
  
.opravdano {
    color: #4CAF50;
}
  
.neopravdano {
    color: #FF0000;
}
  

.naziv{
    color: #3498db;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    font-size: 15px;
}