body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #f0f0f0;
}

.logo {
    font-size: 2em;
    font-family: 'DM Serif Display';
    color: rgb(108, 181, 226);
}

.header-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-left {
    flex: 1;
    text-align: left;
    margin-left: 10px;
}

.header-right {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.header-center {
    flex: 1;
    text-align: center;
}

.header-left p {
    font-size: 10px;
    color: #555;
}

.header-center h1 {
    font-size: 24px;
    margin: 10px 0;
}

.header-right img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.1s;
    text-align: center;
}

button:hover {
    background-color: #2370a3;
}

/*slika profila i iskočni prozor*/
.image-container {
    position: relative;
    display: inline-block;
}

.image-container:hover .hover-content {
    display: block;
}

.hover-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -100%;
    transform: translateX(-50%);
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.box {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.additional-text {
    margin-top: 10px;
    font-size: smaller;
}

.additional-text img {
    width: 30px;
    height: 30px;
}

#predmet {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

/* generalno uređenje za (obje) tablice */
table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

/* uređenje za prvu tablicu (ocjene iz predmeta) */
/* prvi redak */
.tablica1 tr:first-child {
    background-color: #5081a4;
    color: #fff;
}

/* drugi, treći i deveti redak */
.tablica1 tr:nth-child(2), .tablica1 tr:nth-child(3), .tablica1 tr:nth-child(9) {
    background-color: #42a8ed;
    color: #fff;
}

/* rubrika */
.tablica1 tr:nth-child(n+4):nth-child(-n+8) {
    background-color: #e6f0f3;
}

/* dodatno uređenje tj. promjene za drugu tablicu (bilješke uz ocjenu) */
/* prvi redak */
.tablica2 tr:first-child {
    background-color: #5081a4;
    color: #fff;
}

/* drugi redak */
.tablica2 tr:nth-child(2) {
    background-color: #42a8ed;
    color: #fff;
}

/* treći redak i nadalje */
.tablica2 tr:nth-child(n+3) {
    background-color: #e6f0f3;
}

/* raširen drugi stupac */
.tablica2 td:nth-child(2) {
    width: 60%;
}